* {
    margin: 0;
    padding: 0;
}

html {
    width: auto;
}

.newPark {
    border: 2px dashed red;
}

.visitedPark {
    border: 2px solid green;
}

.park {
    width: 400px;
    height: 400px;
    margin: 30px 30px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: nowrap
}

.container {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: space-between;
    position: relative;
}

.card {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 360px;
    margin: 3px;
    justify-content: space-around;
    align-content: center;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 3px 9px 0 rgba(0, 0, 0, 0.7); */
    background-color: rgba(255, 255, 255, 0);
    transition: transform .6s ease, box-shadow .8s, color .8s, background-color .6s;,
    color: rgba(0, 0, 0, 0.6);
    transform-style: preserve-3d;
}

.front, .back {
    height: 400px;
    width: 400px;
    margin: 0;
    position: absolute;
    backface-visibility: hidden;
    background-color: rgba(255, 255, 255, 1);
}

.back {
    transform: rotatey(180deg);
}

.cardcontainer {
    perspective: 700px;
    margin: 15px;
}

.flipped {
    transform: rotateY(180deg);
    /* box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3), 0 0 35px 0 rgba(0, 0, 0, 0.15); */
    color: rgba(0, 0, 0, 0.87);
}